<%#Staff menu - Reference: https://getbootstrap.com/docs/5.0/examples/sidebars/%>

<div class="d-flex flex-column flex-shrink-0 p-3 text-white sidebar sticky-top">
    <%#Logo Section%>
    <div class="align-items-center text-center">
        <%= image_tag 'logo-side.png', id: 'logo-side', class: 'mb-3 mb-md-0 me-md-auto'%>
    </div>
    <br>
    <%#Menu Section%>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link #{current_class_by(path: root_path)}", data: { turbo:false } do %>
            <i class="fa fa-search"></i> New Booking
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to my_bookings_path, class: "nav-link #{current_class_by(path: my_bookings_path)}", data: { turbo:false } do%>
            <i class="fa fa-suitcase"></i> My Bookings
        <% end %>
      </li>
    </ul>
    <hr>

    <%#Profile Section%>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle nav-link" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <h5><%=@user_decorator.full_name%></h5>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><%=link_to "Profile", user_path(current_user.id), class:"dropdown-item" %></li>
        <li><hr class="dropdown-divider"></li>
        <li><%=button_to "Sign Out", destroy_user_session_path, method: :delete ,class:"dropdown-item" %></li>
      </ul>
    </div>
  </div>