<h2>Edit User</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="col-6">

      <div class="field form-group">
        <%= f.label :first_name, style: "display: block", class: "label-text" %>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name",  class:"form-control"%>
      </div>

      <div class="field form-group">
        <%= f.label :last_name, style: "display: block", class: "label-text" %>
        <%= f.text_field :last_name, autocomplete: "last_name", class:"form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :password, style: "display: block", class: "label-text" %>
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control"%>
      </div>

      <div class="field">
        <%= f.label :current_password, style: "display: block", class: "label-text" %>
        <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
      </div>

    </div>
    <div class="col-6">

      <div class="field form-group">
        <%= f.label :email, text: "Email:" ,style: "display: block", class: "label-text"  %>
        <%= f.email_field :email, autocomplete: "email",  class:"form-control"%>
      </div>

      <div class="field form-group">
        <p class="label-text">Role:</p>
        <p><%= resource.admin ? "Administrator" : "Staff"%></p>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation, style: "display: block", class: "label-text" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control"%>
      </div>

    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <br>
  <div class="row float-end actions">
    <div>
      <%= link_to "Back", :back, class: "link-dark" %>
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>



