<div id="<%= dom_id flight %>">
  <p>
    <strong>Flight no:</strong>
    <%= flight.flight_no %>
  </p>

  <p>
    <strong>Carrier:</strong>
    <%= flight.carrier %>
  </p>

  <p>
    <strong>Origin city:</strong>
    <%= flight.origin_city %>
  </p>

  <p>
    <strong>Destination city:</strong>
    <%= flight.destination_city %>
  </p>

  <p>
    <strong>Departure time:</strong>
    <%= flight.departure_time %>
  </p>

  <p>
    <strong>Arrival time:</strong>
    <%= flight.arrival_time %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= flight.duration %>
  </p>

  <p>
    <strong>Adults:</strong>
    <%= flight.adults %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= flight.total_price %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= flight.currency %>
  </p>

</div>
