<%= form_with(model: [@booking, @flight], local: true) do |form| %>

  <% if @flight.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% @flight.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :flight_no, style: "display: block" %>
    <%= form.text_field :flight_no %>
  </div>

  <div>
    <%= form.label :carrier, style: "display: block" %>
    <%= form.text_field :carrier %>
  </div>

  <div>
    <%= form.label :origin_city, style: "display: block" %>
    <%= form.text_field :origin_city %>
  </div>

  <div>
    <%= form.label :destination_city, style: "display: block" %>
    <%= form.text_field :destination_city %>
  </div>

  <div>
    <%= form.label :departure_time, style: "display: block" %>
    <%= form.datetime_field :departure_time %>
  </div>

  <div>
    <%= form.label :arrival_time, style: "display: block" %>
    <%= form.datetime_field :arrival_time %>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.datetime_field :duration %>
  </div>

  <div>
    <%= form.label :adults, style: "display: block" %>
    <%= form.number_field :adults %>
  </div>

  <div>
    <%= form.label :total_price, style: "display: block" %>
    <%= form.text_field :total_price %>
  </div>

  <div>
    <%= form.label :currency, style: "display: block" %>
    <%= form.text_field :currency %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
