
<% if @flights.length > 0  %>
  <% @flights.each do |flight| %>
    <% f_decorator = decorate(flight) %>
    <div  class="d-flex align-items-center">
      <div class="col-12">
        <div class="row d-flex align-items-center">
          <div class="col-3">
            <div class="col-12">
              <p class="mb-0"><%= flight.carrier%></p>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <h4 class="mb-0"><%= f_decorator.departure%></h4>
                <p class="small-text"><%= flight.origin_city%></p>
              </div>
              <div class="col-4">
                <%= image_tag "plane.png", class: "plane-img"%>
                <p class="small-text"><%= f_decorator.duration(flight.duration)%></p>
              </div>
              <div class="col-4">
                <h4 class="mb-0"><%= f_decorator.arrival%></h4>
                <p class="small-text"><%= flight.destination_city%></p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="col-12">
              <h5 class="text-end">€<%= flight.total_price.round()%></h5>
              <%= button_to "Select", booking_flights_path, method: :post, params:{ flight: {carrier_code: flight.carrier_code, flight_no: flight.flight_no , carrier: flight.carrier.titleize, origin_city: flight.origin_city, destination_city: flight.destination_city, departure_time: flight.departure_time, arrival_time: flight.arrival_time, duration: flight.duration, adults: flight.adults, total_price: flight.total_price, booking_id: @booking.id}}, class: "btn btn-primary float-end" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
<% else %>

  <div class="d-flex align-items-center">
    <p>No flights found</p>
  </div>

<% end %>