<div id="<%= dom_id booking %>">
  <% b_decorator = decorate(booking)%>

  <%#Render each flight in booking%>
  <% booking.flights.each do |flight| %>
    <% f_decorator = decorate(flight) %>
    <div class="row mt-4 mb-4">
      <p class="section-subtitle"><%= b_decorator.flight_title(flight.origin_city) %></p>
      <div class="col-12 mb-3">
        <div class="row">
          <div class="col-3">
            <p class="small-text fw-bold"><%= flight.carrier%></p>
            <p class="small-text"><%= f_decorator.flight_code %></p>
          </div>
          <div class="col-3">
          </div>
          <div class="col-3">
            <p class="small-text fw-bold">Class</p>
            <p class="small-text"><%= booking.booking_class.capitalize%></p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row d-flex align-items-center">
          <div class="col-3">
            <p class="small-text"><%= flight.origin_city %></p>
            <h4 class="mb-0"><%= f_decorator.departure %></h4>
            <p class="small-text"><%= f_decorator.formatted_date(flight.departure_time) %></p>
          </div>
          <div class="col-3">
            <%= image_tag "plane.png", class: "plane-img"%>
            <p class="small-text"><%= f_decorator.duration(flight.duration)%></p>
          </div>
          <div class="col-3">
            <p class="small-text"><%= flight.destination_city%></p>
            <h4 class="mb-0"><%= f_decorator.arrival %></h4>
            <p class="small-text"><%= f_decorator.formatted_date(flight.arrival_time)%></p>
          </div>
        </div>
      </div>
    </div>
    <hr>
  <% end %>

  <%#Hotel section%>
  <div class="row mt-4 mb-4">
    <p class="section-subtitle"><%= booking.hotel.hotel_name %></p>
    <div class="col-12 mb-3">
      <div class="row">
        <div class="col-6">
          <p class="small-text fw-bold">Address</p>
          <p class="small-text"><%= booking.hotel.address %></p>
        </div>
        <div class="col-6">
          <p class="small-text fw-bold">Room Type</p>
          <p class="small-text"><%= booking.hotel.room_type %></p>
        </div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <div class="row">
        <div class="col-6">
          <p class="small-text fw-bold">Check-in Date</p>
          <p class="small-text"><%= booking.hotel.check_in_date %></p>
        </div>
        <div class="col-6">
          <p class="small-text fw-bold">Check-out Date</p>
          <p class="small-text"><%= booking.departure_date %></p>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <%#Total section%>
  <div class="row mt-4 ">
    <p class="section-subtitle">Total</p>
    <div class="col-12 mb-3">
      <p class="small-text fw-bold">Passenger Name</p>
      <p class="small-text"><%= b_decorator.employee(booking.user_id) %></p>
    </div>
    <div class="col-6">
      <table class="table table-sm small-text">
        <tbody>
        <% booking.flights.each do |f| %>
          <tr>
            <td><%= "Flight #{f.origin_city}-#{f.destination_city}"%></td>
            <td class="text-end"><%= f.total_price.round(2)%></td>
          </tr>
        <% end %>
        <tr>
          <td><%= "Hotel x #{booking.hotel.no_nights} nights" %></td>
          <td class="text-end"><%= "#{booking.hotel.total_price.round(2)} EUR" %></td>
        </tr>
        </tbody>
        <tfoot>
          <tr class="fw-bold">
            <td>Total:</td>
            <td class="text-end"><%= "#{b_decorator.total} EUR" %></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>
