<div id="<%= dom_id booking %>">
  <% booking_decorator = decorate(booking) %>
  <div class="row section-title">
    <h1><%= booking.destination %></h1>
  </div>

  <%#Outbound Flight section%>
  <div class="row">
    <p class="section-subtitle"><%= "#{booking.origin} to #{booking.destination}" %></p>
    <div class="col-6">
      <p class="label-text">First Name</p>
      <p></p>
      <p class="label-text">Last Name</p>
      <p></p>
      <p class="label-text">Last Sign In</p>
      <p></p>
    </div>
    <div class="col-6">
      <p class="label-text">Email</p>
      <p></p>
      <p class="label-text">User Id</p>
      <p></p>
      <p class="label-text">Role</p>
      <p></p>
    </div>
  </div>
  <hr>
  <%#Inbound Flight section - only is exists%>
  <% if booking.booking_type = "Round Trip" %>
    <div class="row">
      <p class="section-subtitle"><%= "#{booking.destination} to #{booking.origin}" %></p>
      <div class="col-6">
        <p class="label-text">Total Trips</p>
        <p>data</p>
        <p class="label-text">Most Visited</p>
        <p>data</p>
      </div>
      <div class="col-6">
        <p class="label-text">Next Trip</p>
        <p>data</p>
        <p class="label-text">Total Spent</p>
        <p>data</p>
      </div>
    </div>
    <hr>
  <% end %>

  <%#Hotel section%>
  <div class="row">
    <p class="section-subtitle"><%= "#{booking.origin} to #{booking.destination}" %></p>
    <div class="col-6">
      <p class="label-text">First Name</p>
      <p></p>
      <p class="label-text">Last Name</p>
      <p></p>
      <p class="label-text">Last Sign In</p>
      <p></p>
    </div>
    <div class="col-6">
      <p class="label-text">Email</p>
      <p><%=user.email %></p>
      <p class="label-text">User Id</p>
      <p></p>
      <p class="label-text">Role</p>
      <p></p>
    </div>
  </div>

</div>
