<%= form_with(model: booking) do |form| %>
  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="new-booking-box">
    <div class="row">

      <div class="col-3">
        <%= form.text_field :origin, autofocus: true ,class:"form-control", placeholder: "From", value: 'Dublin (DUB)'%>
      </div>

      <div class="col-3">
        <%= form.text_field :destination, class:"form-control", placeholder: "To" %>
      </div>

      <div class="col-3">
        <%= form.date_select :departure_date, class:"form-control"%>
      </div>

      <div class="col-3">
        <%= form.date_select :return_date, class:"form-control"%>
      </div>

    </div>
    <div class="row">

      <div class="col-3">
        <%= form.select :booking_type, class:"form-select", value: 'Return'%>
      </div>

      <div class="col-3">
        <%= form.submit "Search" %>
      </div>


    </div>
  </div>



<% end %>
