
<div>
  <div class="row section-title">
    <h1>All Bookings</h1>
  </div>
  <div class="d-flex float-end mb-2">
    <%= form_tag bookings_path, method: :get do |f| %>
      <div class="d-inline-block">
        <%= text_field_tag :search, nil, class:"form-control search_field search-bar" %>
      </div>
      <div class="d-inline-block">
        <%= submit_tag "Search", class: "btn btn-primary search-btn"%>
      </div>

    <% end %>
  </div>
  <table class="table table-hover" id="bookings-table">
    <thead >
    <tr>
      <th scope="col">
        <%= link_to "ID", :sort => "id", class:"text-decoration-none"%>
        <i class="fa fa-sort" aria-hidden="true"></i>
      </th>
      <th scope="col">Employee</th>
      <th scope="col">
        <%= link_to "Origin", :sort => "origin", class:"text-dark"%>
        <i class="fa fa-sort" aria-hidden="true"></i>
      </th>
      <th scope="col">
        <%= link_to "Destination", :sort => "destination", class:"text-dark"%>
        <i class="fa fa-sort" aria-hidden="true"></i>
      </th>
      <th scope="col">
        <%= link_to "Date", :sort => "departure_date", class:"text-dark"%>
        <i class="fa fa-sort" aria-hidden="true"></i>
      </th>
      <th scope="col">
        <%= link_to "Total", :sort => "total_price", class:"text-dark"%>
        <i class="fa fa-sort" aria-hidden="true"></i>
      </th>
      <th scope="col">
        <%= link_to "Status", :sort => "status", class:"text-dark"%>
        <i class="fa fa-sort" aria-hidden="true"></i>
      </th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% @bookings.each do |booking| %>
      <%b_decorator = decorate(booking) %>
      <tr>
        <td><%= booking.id %></td>
        <td><%= b_decorator.employee(booking.user_id) %></td>
        <td><%= booking.origin %></td>
        <td><%= booking.destination %></td>
        <td><%= b_decorator.formatted_date(booking.departure_date) %></td>
        <td><%= "€#{booking.total_price}"%></td>
        <%= b_decorator.status?%>
        <td><%= link_to booking, class:"text-dark" do  %>
            <i class="fa fa-eye"></i>
          <%end %>
        </td>
      </tr>

    <% end %>
    </tbody>
  </table>
</div>

