<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# User details section %>

  <div class="row">
    <div class="col-6">

      <div class="field form-group">
        <%= form.label :first_name, style: "display: block", class: "label-text" %>
        <%= form.text_field :first_name, class:"form-control"%>
      </div>

      <div class="field form-group">
        <%= form.label :last_name, style: "display: block", class: "label-text" %>
        <%= form.text_field :last_name, class:"form-control" %>
      </div>

    </div>
    <div class="col-6">

      <div class="field form-group">
        <%= form.label :email, style: "display: block", class: "label-text"  %>
        <%= form.text_field :email, autocomplete: "email", class:"form-control" %>
      </div>

      <div class="field form-group">
        <%= form.label :admin, "User Role", style: "display: block", class: "label-text"  %>
        <%= form.select :admin, [['Administrator', true], ['Staff', false]],  {}, { class: "form-select"}%>
      </div>

    </div>
  </div>

  <%# Password section - Only renders if new user /user/new %>

  <% if user.new_record? %>
    <br>
    <hr>
    <br>
    <div class="row">
      <p>Please enter a temporary password for this user </p>
      <div class="col-6">

        <div class="field form-group">
          <%= form.label :password, style: "display: block", class: "label-text" %>
          <%= form.password_field :password, autocomplete: "new-password", class:"form-control", placeholder: "Password (min 6 characters)"%>
        </div>

      </div>
      <div class="col-6">

        <div class="field form-group">
          <%= form.label :password_confirmation, style: "display: block", class: "label-text" %>
          <%= form.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder: "Password (min 6 characters)"%>
        </div>

      </div>

    </div>

  <%end %>

  <br>
  <div class="row float-end">
    <div>
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>