<div id="<%= dom_id user %>">
  <%u_decorator = decorate(@user) %>
  <div class="row section-title">
    <h1><%=u_decorator.full_name %></h1>
  </div>
  <div class="row">
    <p class="section-subtitle">Personal Details</p>
    <div class="col-6">
      <p class="label-text">First Name</p>
      <p><%= user.first_name%></p>
      <p class="label-text">Last Name</p>
      <p><%=user.last_name%></p>
      <p class="label-text">Last Sign In</p>
      <p><%= u_decorator.last_signed || "Never" %></p>
    </div>
    <div class="col-6">
      <p class="label-text">Email</p>
      <p><%=user.email %></p>
      <p class="label-text">User Id</p>
      <p><%=user.id%></p>
      <p class="label-text">Role</p>
      <p><%=u_decorator.user_role%></p>
    </div>
  </div>
  <hr>
  <div class="row">
    <p class="section-subtitle">Travel Details</p>
    <div class="col-6">
      <p class="label-text">Total Trips</p>
      <p><%= u_decorator.total_trips %></p>
      <p class="label-text">Total Spent</p>
      <p><%= u_decorator.total_spent %></p>
    </div>
    <div class="col-6">
      <p class="label-text">Next Trip</p>
      <p><%= u_decorator.next_trip %></p>
      <p class="label-text">Most Visited</p>
      <p><%= u_decorator.most_visited %></p>
    </div>
  </div>


</div>