<div id="<%= dom_id user %>">
  <%user_decorator = decorate(@user) %>
  <div class="row section-title">
    <h1><%=user_decorator.full_name %></h1>
  </div>
  <div class="row">
    <p class="section-subtitle">Personal Details</p>
    <div class="col-6">
      <p class="label-text">First Name</p>
      <p><%= user.first_name%></p>
      <p class="label-text">Last Name</p>
      <p><%=user.last_name%></p>
      <p class="label-text">Last Sign In</p>
      <p><%=user.last_sign_in_at %></p>
    </div>
    <div class="col-6">
      <p class="label-text">Email</p>
      <p><%=user.email %></p>
      <p class="label-text">User Id</p>
      <p><%=user.id%></p>
      <p class="label-text">Role</p>
      <p><%=user_decorator.user_role%></p>
    </div>
  </div>
  <hr>
  <div class="row">
    <p class="section-subtitle">Travel Details</p>
    <div class="col-6">
      <p class="label-text">Total Trips</p>
      <p>data</p>
      <p class="label-text">Most Visited</p>
      <p>data</p>
    </div>
    <div class="col-6">
      <p class="label-text">Travel Limit</p>
      <p><%= user_decorator.limit%></p>
      <p class="label-text">Total Spent</p>
      <p>data</p>
    </div>
  </div>


</div>