<%= form_with(model: hotel) do |form| %>
  <% if hotel.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
        <% hotel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :booking_id, style: "display: block" %>
    <%= form.number_field :booking_id %>
  </div>

  <div>
    <%= form.label :hotel_name, style: "display: block" %>
    <%= form.text_field :hotel_name %>
  </div>

  <div>
    <%= form.label :hotel_brand, style: "display: block" %>
    <%= form.text_field :hotel_brand %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_area :address %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :check_in_date, style: "display: block" %>
    <%= form.date_field :check_in_date %>
  </div>

  <div>
    <%= form.label :check_in_time, style: "display: block" %>
    <%= form.time_field :check_in_time %>
  </div>

  <div>
    <%= form.label :check_out_time, style: "display: block" %>
    <%= form.time_field :check_out_time %>
  </div>

  <div>
    <%= form.label :board_type, style: "display: block" %>
    <%= form.text_field :board_type %>
  </div>

  <div>
    <%= form.label :no_nights, style: "display: block" %>
    <%= form.number_field :no_nights %>
  </div>

  <div>
    <%= form.label :rate, style: "display: block" %>
    <%= form.text_field :rate %>
  </div>

  <div>
    <%= form.label :total_price, style: "display: block" %>
    <%= form.text_field :total_price %>
  </div>

  <div>
    <%= form.label :currency, style: "display: block" %>
    <%= form.text_field :currency %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
