<div id="<%= dom_id hotel %>">
  <p>
    <strong>Booking:</strong>
    <%= hotel.booking_id %>
  </p>

  <p>
    <strong>Hotel name:</strong>
    <%= hotel.hotel_name %>
  </p>

  <p>
    <strong>Hotel brand:</strong>
    <%= hotel.hotel_brand %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= hotel.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= hotel.city %>
  </p>

  <p>
    <strong>Check in date:</strong>
    <%= hotel.check_in_date %>
  </p>

  <p>
    <strong>Check in time:</strong>
    <%= hotel.check_in_time %>
  </p>

  <p>
    <strong>Check out time:</strong>
    <%= hotel.check_out_time %>
  </p>

  <p>
    <strong>Board type:</strong>
    <%= hotel.board_type %>
  </p>

  <p>
    <strong>No nights:</strong>
    <%= hotel.no_nights %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= hotel.rate %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= hotel.total_price %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= hotel.currency %>
  </p>

</div>
