<%= turbo_frame_tag "hotels_frame" do %>
  <% if alert %>
    <%= render "layouts/alert" %>
  <% end %>
  <% if @hotels.length > 0  %>
    <% @hotels.each do |hotel| %>
      <div  class="d-flex align-items-center ">
        <div class="col-12">
          <div class="row">
            <div class="col-5">
              <h5><%= hotel.dig(:hotel_name).titleize %></h5>
              <p class="text-muted"><%= hotel.dig(:address)%></p>
            </div>
            <div class="col-5">
              <p class="mb-0"><strong>Room Type:</strong></p>
              <p><%= hotel.dig(:room_type).titleize%></p>
            </div>
            <div class="col-2">
              <h5 class="text-end"><%= "€ #{hotel.dig(:rate)}" %></h5>
              <%= button_to "Select", booking_hotels_path, method: :post, params: { hotel: { booking_id: @booking.id,hotel_name: hotel.dig(:hotel_name).titleize, address: hotel.dig(:address), room_type: hotel.dig(:room_type).titleize, rate: hotel.dig(:rate).titleize } },class: "btn btn-primary float-end" %>
            </div>
          </div>
        </div>
      </div>
      <hr>
    <% end %>
  <% else %>

    <div class="d-flex align-items-center">
      <p>No hotels found. Please search again.</p>
    </div>

  <% end %>
<% end %>